langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-ollama
langchain-chroma
langchain-huggingface
langgraph
langchain-mcp-adapters
langchain-groq
langchain-openai
langchain-anthropic
langchain-google-genai
chromadb
sentence-transformers
rich
prompt_toolkit
mcp
python-dotenv
pydantic
numpy
pybind11>=2.6.0